extends layout

block content
  h1 REST API

  h2 /users
  ul
    li GET
      a(href="/users") /users<br>
      | Returns a list of users
    li GET
      a(href="/users/PJ") /users/PJ<br>
      | Returns the user with name
    li DELETE
      a(href="/users/PJ") /users/PJ<br>
      | Removes the user with name
    li POST
      a(href="/users") /users<br>
      | Creates a user<br>
      | Data as body: {"name":"pietje","skill":"javascript"} <br>
      | Data as params: /users?name=klaasje&skill=java
    li POST
      a(href="/users/PJ") /users/PJ<br>
      | Updates a user<br>
      | Data as body: {"name":"pietje","skill":"javascript"} <br>
      | Data as params: /users?name=klaasje&skill=java

  h2 /recruiters
  ul
    li GET
      a(href="/recruiters") /recruiters<br>
      | Returns a list of recruiters
    li GET
      a(href="/recruiters/Final") /recruiters/Final<br>
      | Returns the recruiter with username
    li DELETE
      a(href="/recruiters/Final") /recruiters/Final<br>
      | Removes the recruiter with username
    li POST
      a(href="/recruiters") /recruiters<br>
      | Creates a recruiter<br>
      | Data as body: {"name":"pietje","skill":"javascript"} <br>
      | Data as params: /recruiters?name=klaasje&skill=java
    li POST
      a(href="/recruiters/Final") /recruiters/Final<br>
      | Updates a recruiter<br>
      | Data as body: {"name":"pietje","skill":"javascript"} <br>
      | Data as params: /recruiters?name=klaasje&skill=java

  h2 /questions
  ul
    li GET
      a(href="/questions") /questions<br>
      | Returns a list of questions
    li GET
      a(href="/questions/1") /questions/1<br>
      | Returns the question with name
    li DELETE
      a(href="/questions/1") /questions/1<br>
      | Removes the question with id
    li POST
      a(href="/questions") /questions<br>
      | Creates a question<br>
      | Data as body: {"id":"1","question":{"dsfa":"fdsa"}} <br>
      | Data as params: /questions?id=1&question=javascript
    li POST
      a(href="/questions/1") /questions/1<br>
      | Updates a question<br>
      | Data as body: {"id":"1","question":"javascript"} <br>
      | Data as params: /questions?id=1&question=javascript

  h2 /joboffers
  ul
    li GET
      a(href="/joboffers") /joboffers<br>
      | Returns a list of joboffers
    li GET
      a(href="/joboffers/1") /joboffers/1<br>
      | Returns the joboffer with id
    li DELETE
      a(href="/joboffers/1") /joboffers/1<br>
      | Removes the joboffer with id
    li POST
      a(href="/joboffers") /joboffers<br>
      | Creates a joboffer<br>
      | Data as body: {"id":"1","project":"Java implementation"} <br>
      | Data as params: /joboffers?id=1&project=javascript
    li POST
      a(href="/joboffers/1") /joboffers/1<br>
      | Updates a joboffer<br>
      | Data as body: {"id":"1","project":"javascript"} <br>
      | Data as params: /joboffers?id=1&project=javascript

  h2 /highscores
  ul
    li GET users with the highest scores sorted. Less users per phase; var phase = [30, 10, 3]<br>
      a(href="/highscores") /highscores<br>
      a(href="/highscores/0") /highscores/0<br>
      a(href="/highscores/1") /highscores/1<br>
      a(href="/highscores/2") /highscores/2

  h2 /db/initialize
  ul
    li GET Reinitialize the database. <br>
      | Ask the team first.
      a(href="/db/initialize?reset") /db/initialize<br>
    