extends layout

block content
  h1 REST API

  h2: a(href="/users") /users
  ul
    li GET Returns a list of users <br>
      a(href="/users") /users
    li POST Creates a user<br>
      | Data as body: {"name":"pietje","skill":"javascript"} <br>
      | Data as params: /users?name=klaasje&skill=java


  h2: a(href="/recruiters") /recruiters
  ul
    li GET Returns a list of recruiters <br>
      a(href="/recruiters") /users
    li POST Creates a recruiters<br>
      | Data as body: {"name":"pietje","skill":"javascript"} <br>
      | Data as params: /users?name=klaasje&skill=java
