extends layout

block content
  h1 REST API

  h2: a(href="/users") /users
  ul
    li GET
      a(href="/users") /users<br>
      | Returns a list of users
    li GET
      a(href="/users/PJ") /users/PJ<br>
      | Returns the user with name
    li POST
      a(href="/users") /users<br>
      | Creates a user<br>
      | Data as body: {"name":"pietje","skill":"javascript"} <br>
      | Data as params: /users?name=klaasje&skill=java
    li POST
      a(href="/users/PJ") /users/PJ<br>
      | Updates a user<br>
      | Data as body: {"name":"pietje","skill":"javascript"} <br>
      | Data as params: /users?name=klaasje&skill=java

  h2: a(href="/recruiters") /recruiters
  ul
    li GET
      a(href="/recruiters") /recruiters<br>
      | Returns a list of recruiters
    li GET
      a(href="/recruiters/Final") /recruiters/Final<br>
      | Returns the recruiter with name
    li POST
      a(href="/recruiters") /recruiters<br>
      | Creates a recruiter<br>
      | Data as body: {"name":"pietje","skill":"javascript"} <br>
      | Data as params: /recruiters?name=klaasje&skill=java
    li POST
      a(href="/recruiters/Final") /recruiters/Final<br>
      | Updates a recruiter<br>
      | Data as body: {"name":"pietje","skill":"javascript"} <br>
      | Data as params: /recruiters?name=klaasje&skill=java

  h2: a(href="/joboffers") /joboffers
  ul
    li GET
      a(href="/joboffers") /joboffers<br>
      | Returns a list of joboffers
    li POST
      a(href="/joboffers") /joboffers<br>
      | Creates a joboffer<br>
      | Data as body: {"project":"Java implementation","company":"Capgemini","minRequiredSkillJava":2,"minRequiredSkillScrum":1,"phase":1} <br>
      | Data as params: /joboffers?project=java&company=Capgemini

  h2: a(href="/db/initialize?reset") /db/initialize
  ul
    li GET Reinitialize the database
    